.banner {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;

    color: white;

    top: 22px;
    bottom: calc(100% - 58px);
    z-index: 102;
}
